body{
    font-family: 'Dosis', sans-serif;
    background-color: black;
}
.medio{
    display: flex;
}
header{
    background: rgb(166,0,0);
    background: linear-gradient(90deg, rgba(166,0,0,1) 0%, rgba(0,0,0,1) 100%);
    padding: 16px 0;
}
header h1{
    color:rgb(166,0,0);
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: center ;
    bottom: 35px;
    margin-left: 40%;
}
main{
    background-color: black;
    width: 85%;
}
main p, main h1, main h3, main ul h2, main ul p{
    color: aliceblue;
}
nav{
    background-color: black;
}
nav ul a {
    color: grey;
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 10%;
}