body {
    font-family: 'Dosis', sans-serif;
    background-color: black;
}

.medio {
    display: flex;
}

header {
    background: rgb(162, 5, 10);
    background: linear-gradient(90deg, rgba(162, 5, 10, 1) 0%, rgba(0, 0, 0, 1) 100%);
    ;
    padding: 16px 0;
    text-align: center;
}

header p {
    color: rgb(166, 0, 0);
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    position: center;
    bottom: 35px;
    margin-left: 40%;
}

main {
    background-color: black;
    width: 85%;
}

main p,
main h1,
main h3,
main ul p {
    color: aliceblue;
}

nav {
    background-color: black;
}

nav ul a {
    color: grey;
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 10%;
}

.general {
    text-align: center;
}

.tipos {
    display: flex;
    justify-content: space-between;
}


.tipo {
    border: 1px solid aliceblue;
    border-radius: 5px;
    width: 20%;
    text-align: center;
    padding: px;
    border-radius: border-box;
}

.tipo h4 {
    color: aliceblue;
}
.turbina {
    border: 1px solid aliceblue;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;

}
.turbina:nth-child(even){
    flex-direction: row-reverse;
}
.turbina h4, .turbina p {
    color: aliceblue;
}
.moto h4 {
    color: aliceblue;
}
.motos {
    display: flex;
    justify-content: space-between;
}


.moto {
    border: 1px solid aliceblue;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: px;
    border-radius: border-box;
}